<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Naomikka Maxim</title>
  <link rel="stylesheet" href="static/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="favicon.ico">
</head>

<body>
  <div class="middle-container">
    <div class="title-text">
      <h1>I'm Maxim.</h1>
      <h2>a programmer.</h2>
    </div>
    <div class="profile">
      <a href="https://www.t.me/naomikkaxd">
      <img class="mypic" src="static/img/maxim.png" alt="angela-profile-img">
      </a>
      <h2>Hello!</h2>
      <p class="intro">I am an iOS and Backend Web Developer.<br> I ❤  ️code and genshin impact.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="code-img" src="static/img/think.png" alt="code-img">

        <h3>Development history</h3>
        <p>I started to learn coding at the age of 19 when I realised my strong desire - to be a professional developer! I have switched really lot of times between any various of technologies like C++/C# and game developement, like Java or Kotlin for a android development. And nowadays I have made a final hopefully decision and I`m growing as iOS and Backend development</p>

      </div>
      <div class="skill-row">
        <a href="https://developer.apple.com/xcode/swiftui/">
        <img class="chilli-img" src="static/img/SwiftUI.png" alt="chillies-img">
        </a>

        <h3>Swift and main as SwiftUI</h3>
        <p>I choosed it because I`m using apple devices for many years and I`m thinking that the future is stand for a mobile technologies and swift will help me to develop apps or something for complicated for the next generation pocket devices.</p>

      </div>
      <div class="skill-row">
        <a href="https://www.python.org">
        <img class="code-img" src="static/img/Python.png" alt="blablabla">
        </a>
        <h3>Python and main as Flask</h3>
        <p>It kinda simple and helps me to release my every other goal as web app</p>
      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you want to be my partner or a girlfriend.</h3>
      <p class="contact-message">I`m open to any kind of offers and you are welcome independent by anything!</p>
      <a class="btn" href="mailto:naomikka.maxim@yandex.ru">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://discord.gg/WPrFmKpBBs">Discord</a>
    <a class="footer-link" href="https://twitter.com/vainikkaxd">Twitter</a>
    <a class="footer-link" href="https://www.twitch.tv/naomikka">Twitch</a>
    <p class="copyright">© 2021 Maxim Naomikka @Kollegia.</p>
  </div>
</body>

</html>
